.asideSection {
    width: calc(100% - 1016px);
    padding: 12px 10px;
    border: 1px solid rgb(228, 235, 240);
    border-radius: 8px;
}

.wrap {
    width: 100%;
    height: calc(100vh - 57px);
    background: rgb(246, 249, 250);
    padding: 40px 0;
}

.layout {
    width: 1224px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.account {
    width: 1016px;
    background:rgb(249, 250, 251);
    padding: 12px 10px;
    border: 1px solid rgb(228, 235, 240);
    border-radius: 8px;
    padding: 40px 32px;
}

.account h2 {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: rgb(58, 62, 65);
}
.account p {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(157, 167, 174);
}

.management_box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkblue; */
}

.box{
    width: 137px;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #0062df;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
}

.edit{
    color: #ffffff;
}
.mobile_account {
    width: 100%;
    height: calc(100vh - 57px);
    background: rgb(246, 249, 250);
}

.mobile_h2 {
    font-weight: 600;
    font-size: 24px;
    color: rgb(58, 62, 65);
}

.mobile_param {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(157, 167, 174);
}

.mobile_top_info {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #fff;
}

.mobile_bot_info {
    padding: 0px 16px 40px 16px;
    background: #fff;
}

.bottom_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(58, 62, 65);
}

.indent {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);
}

.indentClick {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);
    cursor: pointer;
    text-decoration: underline;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(228, 235, 240);
    margin-top:40px;
}

.applicantText {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgb(157, 167, 174);
}

.inputOption{
    width: 200px;
    height: 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #eee;
    margin-bottom: 5px;
    padding: 10px;

}
.profile{
    display:flex;
}

.input_box{
    display: flex;
    flex-direction: column;
}