# action 이름
name: deploy

# action 트리거 조건 (master 브랜치에 푸쉬될 때, PR될때)
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    
# action 동작
jobs:

  # OS 환경
  build:
    name: hello DM ?
    runs-on: ubuntu-20.04

    env:
      CI: false
    
    # Nodejs 런타임 정보 설정
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./package-lock.json
          
      # 모듈 설치  
      - name: Install dependencies
        run: npm install
        
      # 빌드
      - name: Build project
        run: npm run build
        
      # 배포 
      - name: Deploy build outputs
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          source: "*"
          strip_components: 1
          target: "/home/ubuntu/myapp"
